/*Reset margins and padding.    */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color:  #6084cb;
}

h1 {
    margin: 50px 0;
    text-align: center;
    font-family: Comfortaa, sans-serif;
    color: #ddf;
}

#container {
    border: 3px solid #80a4eb;
    margin-top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height:400px;
    width: 400px;
    border: none;
    background-color: #fff;
}

.row {
    overflow: hidden;
   box-sizing: border-box;
   height: 25px;
   width: 400px;
   border: none;
}

.tile {
    box-sizing: border-box;
    height: 23px;
    width: 23px;
    border: none;
    border-color: #7094db;
    display: inline-block;
}

.filled {
    background-color: #222;
}

p {
   font-family: Arial, sans-serif;
   text-align: center;
}

#grid-size {
    width: 30px;
    line-height: 20px;
    text-align: center;
}

#resize-button {
    padding: 0 5px;
    line-height: 20px;
    text-align: center;
    background-color: #6084cb;
    border-color: #80a4eb;
    color: #ddd;
    font-family: Arial, sans-serif;
}
